{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block decorate %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">
{% endblock decorate %}

{% block list %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li><a href="news">News</a></li>
    <li><a href="contact">Contact</a></li>

    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li class="active"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
{% endblock list %}

{% block list1 %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li><a href="news">News</a></li>
    <li><a href="contact">Contact</a></li>

    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li class="active"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
{% endblock list1 %}

{% block content %}
    <!-- Home -->

    <div class="home">
        <div class="background_image" style="background-image:url({% static 'images/login.jpeg' %})"></div>
    </div>

    <!-- Register -->

    <div class="home_search">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_search_container">
                        <div class="home_search_title">Login</div>
                        <div class="home_search_content">
                            <div>
                                {% for message in messages %}
                                <h4 style="color: red;">{{message}}</h4>
                                {% endfor %}
                            </div>
                            <form action="" method="POST" class="home_search_form" id="home_search_form">
                                {% csrf_token %}
                                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                    <input type="text" name="username" class="search_input search_input_1" placeholder="Username" required="required">
                                    <input type="password" name="password" class="search_input search_input_1" placeholder="Password" required="required">
                                    <input type="submit" class="home_search_button">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
