{% extends 'base.html' %}
{% load static %}

{% block title %}
    Payment Status
{% endblock title %}

{% block decorate %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">
{% endblock decorate %}

{% block content %}
    <div class="container">
    {{response}}
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif%}

    </div>

</div>
{% endblock content %}
